absl-py==2.2.2
accelerate==1.7.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.9
aioprometheus==23.12.0
aiosignal==1.3.2
albumentations==1.1.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
asttokens==3.0.0
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
beautifulsoup4==4.14.2
bitsandbytes==0.46.0
blinker==1.9.0
cachetools==5.5.2
certifi==2025.4.26
chardet==4.0.0
charset-normalizer==3.4.2
click==8.1.8
cockpit @ file:///builddir/build/BUILD/cockpit-356.2/tmp/wheel/cockpit-356.2-py3-none-any.whl
coloredlogs==15.0.1
colorlog==6.10.1
comm==0.2.2
ConfigArgParse==1.7
configobj==5.0.6
configparser==7.2.0
contourpy==1.3.0
cupy-cuda12x==12.1.0
cycler==0.12.1
dasbus==1.7
datasets==3.6.0
dbus-python==1.2.18
decimer-segmentation @ file:///users/ataylo29/molscribe/DECIMER-Image-Segmentation
decorator==4.4.2
dill==0.3.8
distro==1.5.0
docker-pycreds==0.4.0
docling==2.60.0
docling-core==2.50.0
docling-ibm-models==3.10.2
docling-parse==4.7.0
easyocr==1.7.2
epam.indigo==1.30.1
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.0
Faker==37.12.0
fastapi==0.115.12
fastprogress==1.0.3
fastrlock==0.8.3
file-magic==0.4.0
filelock==3.18.0
filetype==1.2.0
Flask==3.1.1
flatbuffers==25.9.23
fonttools==4.58.0
frozenlist==1.6.2
fsspec==2025.3.0
gast==0.4.0
gensim==4.3.3
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.40.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gpg==1.15.1
grpcio==1.71.0
h11==0.16.0
h5py==3.13.0
hf-xet==1.1.3
httptools==0.6.4
huggingface-hub==0.36.0
humanfriendly==10.0
idna==2.10
imagecorruptions==1.1.2
imageio==2.37.0
imgaug==0.4.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniparse==0.4
iotop==0.6
ipyplot==1.1.2
ipython==8.18.1
ipywidgets==8.1.7
itsdangerous==2.2.0
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.0
jpype1==1.5.2
jsonlines==4.0.0
jsonref==1.1.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyterlab_widgets==3.0.15
katello-host-tools==4.5.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
latex2mathml==3.78.1
lazy_loader==0.4
libclang==18.1.1
libcomps==0.1.18
lightning-utilities==0.14.3
lxml==6.0.2
Markdown==3.8
markdown-it-py==3.0.0
marko==2.2.1
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline==0.1.7
mdurl==0.1.2
ml_dtypes==0.5.1
modelscope==1.26.0
-e git+https://github.com/thomas0809/MolScribe.git@7296a30413eb55436702011efdff78131f66d162#egg=MolScribe
mpire==2.10.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.4.4
multiprocess==0.70.16
networkx==3.2.1
nftables==0.1
ninja==1.11.1.4
nltk==3.9.1
numpy==1.26.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
oauthlib==3.2.2
omegaconf==2.3.0
onnxruntime==1.19.2
opencv-python==4.5.5.64
opencv-python-headless==4.11.0.86
OpenNMT-py==2.2.0
openpyxl==3.1.5
opt_einsum==3.4.0
orjson==3.10.18
packaging==25.0
pandas==2.2.3
parso==0.8.4
pathtools==0.1.2
pcp==5.0
pdf2image==1.17.0
peft==0.8.0
perf==0.1
pexpect==4.8.0
pikachu-chem==1.0.7
pillow==11.3.0
pluggy==1.6.0
polyfactory==2.22.3
promise==2.3
prompt_toolkit==3.0.51
propcache==0.3.1
protobuf==3.20.0
psutil==5.8.0
ptyprocess==0.6.0
pure_eval==0.2.3
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycairo==1.20.1
pyclipper==1.3.0.post6
pycocotools==2.0.10
pydantic==2.11.5
pydantic-settings==2.11.0
pydantic_core==2.33.2
pyenchant==3.2.0
Pygments==2.19.1
PyGObject==3.40.1
pyinotify==0.9.6
pylatexenc==2.10
pynvml==11.5.0
pyonmttok==1.37.1
pyparsing==2.4.7
PyPDF2==3.0.1
pypdfium2==4.30.0
PySocks==1.7.1
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.0
python-linux-procfs==0.7.4
python-pptx==1.0.2
pytz==2025.2
pyudev==0.22.0
pyxdg==0.27
PyYAML==5.4.1
quantile-python==1.1
qudida==0.0.4
RanDepict @ file:///users/ataylo29/RanDepict
rapidocr==3.4.2
ray==2.46.0
rdkit==2025.3.2
rdkit-pypi==2022.9.5
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
requests-oauthlib==2.0.0
rich==14.2.0
rpds-py==0.25.1
rpm==4.16.1.3
rsa==4.9.1
rtree==1.4.1
RxnScribe @ file:///users/ataylo29/RxnScribe
safetensors==0.5.3
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
selinux==3.6
semchunk==2.2.2
sentencepiece==0.2.0
sentry-sdk==2.29.1
sepolicy==3.6
seqeval==1.2.2
setools==4.4.4
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.35/src
shapely==2.0.7
shellingham==1.5.4
shortuuid==1.0.13
six==1.15.0
smart-open==7.1.0
SmilesPE==0.0.3
smmap==5.0.2
sniffio==1.3.1
sos==4.11.0
soupsieve==2.8
stack-data==0.6.3
starlette==0.46.2
subprocess32==3.5.4
subscription-manager==1.29.50
sympy==1.14.0
systemd-python==234
tabulate==0.9.0
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
tensorflow-io-gcs-filesystem==0.37.1
tensorrt==10.12.0.36
tensorrt-cu12==10.12.0.36
tensorrt_cu12_bindings==10.12.0.36
tensorrt_cu12_libs==10.12.0.36
termcolor==3.1.0
tesserocr==2.9.1
textdistance==4.6.3
threadpoolctl==3.6.0
tifffile==2024.8.30
timm==0.4.12
torch==2.8.0
torchmetrics==1.7.2
torchtext==0.5.0
torchvision==0.23.0
tqdm==4.67.1
traitlets==5.14.3
triton==3.4.0
trl==0.7.0
typer==0.19.2
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
uv==0.11.7
uvicorn==0.34.3
uvloop==0.21.0
waitress==3.0.2
wandb==0.11.0
watchfiles==1.0.5
wcwidth==0.2.13
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.14
wrapt==1.14.1
xlsxwriter==3.2.9
xxhash==3.5.0
yarl==1.20.0
zipp==3.21.0
